.menu-intro {
  max-width: 20rem;
  margin: 0 auto 0 auto;
  text-align: center;
}

.drinks-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-content: center;
  justify-items: center;
  grid-gap: 1rem;

  margin: 4rem 0;
}

.order-detail {
  margin: 2rem auto 6rem auto;
  padding: 1rem 2rem;
  max-width: 20rem;
  text-align: center;

  background-color: #ea946f;
  border-radius: 5px;
  box-shadow: 0 0 3px #444;
}

.order-btn--ordered {
  background-color: #773d24;
}

.order-btn:hover {
  transform: scale(1.1);
}

.order-btn:focus {
  outline: none;
}

.order-btn:active {
  background-color: #e67e51;
}


.layer {
  display: flex;
  padding: 0.25rem;
}

.layer__color {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  border-radius: 0.5rem;

  background-color: brown;
  box-shadow: 0 0 5px #333;
}

.layer__label {
  height: 1rem;

  line-height: 1rem;
}
